@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a todo web application using ASP.NET Core &Aacute; Entity Framework Core</p>
</div>
